@page
@model FarmApplication.Pages.CreateTaskModel


<!-- this allows me to display all the data from a table in a dropdown menu
    I will prob use this to allow the user to select everyting they want for a task and maybe save that as its own table entry (FarmTasks)
    (should ask for quantities of certain items)
-->
<h3>Select a Field</h3>
<form method="post">
<div class="border p-3 mt-4">
    <select asp-for="SelectFieldID" class="form-control">
        <option value="">None</option>
            @if (Model.Fields != null)
            {
                foreach (var item in Model.Fields)
                {
                    <option value="@item.FieldID">@item.FieldName</option>
                }
            }
    </select>
</div>
<h3>Select the resource to use</h3>
<div class="border p-3 mt-4">
    <select asp-for="SelectResourceID" class="form-control">
        <option value="">None</option>
        @foreach (var item in Model.Resources)
        {
            <option value="@item.ResourceId">@item.ResourceName</option>
        }
    </select>
</div>

<!-- in this gap i want to add a text field where the user can type in the quantity of the resource that they want to use -->

<h3>Select the Equipment to use</h3>
<div class="border p-3 mt-4">
    <select asp-for="SelectEquipmentID" class="form-control">
        <option value="">None</option>
        @foreach (var item in Model.Equipments)
        {
            <option value="@item.Id">@item.EquipmentName</option>
        }
    </select>
</div>
<h3>Select any workers for this task</h3>
<div class="border p-3 mt-4">
    <select asp-for="SelectWorkerID" class="form-control">
        <option value="">None</option>
        @foreach (var item in Model.Worker)
        {
            <option value="@item.WorkerID">@item.WorkerName</option>
        }
    </select>
</div>
    <button type="submit" class="btn btn-primary" style="width:150px;">Add Task</button>
</form>