@page
@model FarmApplication.Pages.Resources.ResourceIndexModel

@using System.Security.Claims

<!-- plan for the Resources page:
	Create multiple databasess, maybe 3 - Crop, Equipment, Workers
	(change the table design layout to make it more readable)
	1) Crop has two inputs - name and stock. (maybe a seasonal tag that prevents them from growing in wrong seasons)
	2) Equipment only has a name input. Could maybe add a feature on the add new equipment page to add multiple of an item to the database
	3) Workers only needs a name input (maybe add a salary option for further management capeabilites)

	also I need to figure out how to tie a database to a user rather then it being global.




-->
@{
	var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier); // Retrieve current user's ID
}

<!-- ill make 3 tables -->

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Farm Resources </h2>
		</div>
		<div class="col-6 text-end">
			<a asp-page="AddResource" class="btn btn-primary">
				Add new resource
			</a>
		</div>
	</div>

	<br /><br />

	<!-- this will show a set notification for when one of the three actions is performed on the database. Notification can be found at the end of the .cs files -->
	@if (TempData["success"] != null)
	{

		<p class="text-success">@TempData["success"]</p>

	}


	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Resource name
				</th>
				<th>
					Resources available
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model.FarmingResources.Where(f => f.UserID == currentUserId))
			{
				<tr>
					<td width="50%">@obj.ResourceName</td>
					<td width="30%">@obj.ResourceCount</td>
					<td>
						<div class="w-75 btn-group" role="group">
							<a asp-page="EditResource" asp-route-id="@obj.ResourceId" class="btn btn-primary mx-2">
								Edit
							</a>
							<a asp-page="DeleteField" asp-route-id="@obj.ResourceId" class="btn btn-danger mx-2">Delete</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>

</div>



<!-- table 2 -->



<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Farm Equipment </h2>
		</div>
		<div class="col-6 text-end">
			<a asp-page="AddEquipment" class="btn btn-primary">
				Add new equipment
			</a>
		</div>
	</div>

	<br /><br />

	<!-- this will show a set notification for when one of the three actions is performed on the database. Notification can be found at the end of the .cs files -->
	@if (TempData["success"] != null)
	{

		<p class="text-success">@TempData["success"]</p>

	}


	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Item Name
				</th>
				<th>
					Item Count
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model.Equipments.Where(f => f.UserID == currentUserId))
			{
				<tr>
					<td width="50%">@obj.EquipmentName</td>
					<td width="30%">@obj.EquipmentCount</td>
					<td>
						<div class="w-75 btn-group" role="group">
							<a asp-page="EditEquipment" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
								Edit
							</a>
							<a asp-page="DeleteField" asp-route-id="@obj.Id" class="btn btn-danger mx-2">Delete</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>

</div>


<!-- table 3 -->


<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Employees </h2>
		</div>
		<div class="col-6 text-end">
			<a asp-page="AddWorkers" class="btn btn-primary">
				Add new employee
			</a>
		</div>
	</div>

	<br /><br />

	<!-- this will show a set notification for when one of the three actions is performed on the database. Notification can be found at the end of the .cs files -->
	@if (TempData["success"] != null)
	{

		<p class="text-success">@TempData["success"]</p>

	}


	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Employee Name
				</th>
				<th>
					Salary
				</th>
				<th>
					Employed until
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model.WorkersOnFarm.Where(f => f.UserID == currentUserId))
			{
				<tr>
					<td width="25%">@obj.WorkerName</td>
					<td width="25%">@obj.WorkerSalary</td>
					<td width="25%">@obj.EmployedUntil</td>
					<td>
						<div class="w-75 btn-group" role="group">
							<a asp-page="EditWorker" asp-route-id="@obj.WorkerID" class="btn btn-primary mx-2">
								Edit
							</a>
							<a asp-page="DeleteField" asp-route-id="@obj.WorkerID" class="btn btn-danger mx-2">Delete</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>

</div>
